:root {
  --bg-body: #fafafa;
  --light-text: #aaabb3;
  --bold-text: #4f4e5d;
  /* cards */
  --white: #fff;
  --cyan: #4fcdcd;
  --red: #d55c60;
  --orange: #f4ae56;
  --blue: #5a9ce5;
}

body {
  background-color: var(--bg-body);
  font-family: 'Poppins', sans-serif;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.main-header {
  text-align: center;
  padding: 50px 20px;
}

.main-title {
  font-size: 1.3rem;
  font-weight: 200;
  color:var(--bold-text);
}

.subtitle {
  color: var(--light-text);
}

.cards {
  display: grid;
  padding: 0 20px;
}

.card { 
  padding: 25px;
  position: relative;
  height: 185px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 30px #83a6d288;
  overflow: hidden;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
}

.card--cyan::before {
  background-color: var(--cyan);
}

.card--red::before {
  background-color: var(--red);
}

.card--orange::before {
  background-color: var(--orange);
}

.card--blue:before {
  background-color: var(--blue);
}

.card-title {
  margin: 0;
  color: var(--bold-text);
}

.card-description {
  margin: 0;
  color: var(--light-text);
}

.card:first-child::after {
  --icon: url(../icons/icon-supervisor.svg);
}

.card:nth-child(2)::after {
  --icon: url(../icons/icon-team-builder.svg);
}

.card:nth-child(3)::after {
  --icon: url(../icons/icon-karma.svg);
}

.card:nth-child(4)::after {
  --icon: url(../icons/icon-calculator.svg);
}

.card::after {
  content: var(--icon);
  position: absolute;
  right:35px;
  bottom: 15px;
}

/* Para Desktop */

@media screen and (min-width: 768px) {

  .main-header {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 30px 20px;
  }

  .main-title {
    padding: 0px 112px;
  }

  .subtitle {
    font-size: 1rem;
  }

  .cards {
    grid-template-columns: repeat(3, 290px);
    grid-template-rows: repeat(2, 209px);
    justify-content: center;
    gap: 15px;
  }

  .card {
    margin-bottom: 0;
    height: 135px;
  }

  .card:first-child,
  .card:last-child {
    margin-top: 110px;
  }

  .card:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .card-title {
    font-size: 1.1em;
  }

  .card-description {
    font-size: 0.8rem;
  }
}